@page
@model EventsModel

@{
    ViewData["Title"] = "Events List";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">EventVibe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Create">Create Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="./Login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Scheduled Events</h1>

<form method="get" class="form-inline">
    <input type="text" name="searchString" value="@Model.CurrentFilter" class="form-control"
        placeholder="Search events..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Events"
                    asp-route-sortOrder="@(Model.CurrentSort == "name_asc" ? "name_desc" : "name_asc")">
                    Event Name
                </a>
            </th>
            <th>Date</th>
            <th>Location</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Location</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    <a asp-page="./Events" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-currentFilter="@Model.CurrentFilter"
        asp-route-sortOrder="@Model.CurrentSort"
        class="btn btn-default @(Model.PageNumber == 1 ? "disabled" : "")">Previous</a>
    <a asp-page="./Events" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-currentFilter="@Model.CurrentFilter"
        asp-route-sortOrder="@Model.CurrentSort"
        class="btn btn-default @(Model.PageNumber >= Model.Events.TotalPages ? "disabled" : "")">Next</a>
</div>


<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
</style>
